*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#title{
    background-color: rgb(255, 47, 0);
    color: white;
    overflow: hidden;
}
#container {
    padding: 3% 15% 7%;
}
.navbar-brand{
    font-size: 2.5rem; 
    font-weight: bold;
    text-transform: uppercase;
}
#navtitle{
    padding: 0 0 4.5rem;
}
.headtitle{
    padding: 0 0 1.5rem;
    font-size: 3.5rem ;
    font-weight: 900;
    line-height: 60px;
}
.top-img-container{
    position: relative;
}
.title-image{
    position: absolute;
    width: 60%;
    right: 30%;
    transform: rotate(25deg);
}

#feature{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}

#testimonials{
    text-align: center;
    background-color: rgb(255, 47, 0);
    color: white;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonials-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
#press{
    text-align: center;
    background-color: rgb(255, 47, 0);
    padding-bottom: 3%;
}
.press-logo{
    margin: 1%;
    max-width: 150px;
}
#Pricing{
    padding:10%;
    text-align: center;
    
}
.pricing-col{
    padding: 5% 1%;
    
}
#cta{
    padding: 7% 15%;
    text-align: center;
}
#cta h2 {
    padding-bottom: 2rem;
}
#footer{
    padding: 10%;
    text-align: center;
}
.footer-icon{
    margin: 1%;
}
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        width: 40%;
    }
}